body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(161, 161, 145); */
  background-image: url("images/bg2.png");
}

.signupform {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgb(204, 204, 195);
  min-width: 350px;
}

.signupform:hover{
  transform: translateY(-5px);
  background:rgb(206, 206, 201);
 box-shadow: 0 6px 18px rgba(255, 244, 244, 0.301);
}
